body {
    background:green;
    /* display:grid;
    grid-template-columns: 1fr minmax(auto, 20%);
    grid-template-rows: repeat(5 fr); */
    background-size: cover;
}
header {
   font-family:'Slabo 27px', serif;
   background-image: url("https://www.sciencemag.org/sites/default/files/styles/article_main_image_-_1280w__no_aspect_/public/dogs_1280p_0.jpg?itok=6jQzdNB8");
   display:block;
}
ul {
    list-style-type:none;
    display:block;
    
}
main {
    border: 1px solid black;
    /* display:flex; */
    align-content:left;
}
.projects {
    display: flex;
    direction: row;
    /* align-items: stretch; */
    /* justify-content: stretch; */
    /* width:33%; */
}
img {
    justify-content:center;
    width:30vw;
    display:block;
}
/* good */
button {
    align-items: stretch;
    justify-content: stretch;
    width:100%;
    text-decoration: overline;
} 
/* good */
footer {
    height: 100px;
}

/* @media(min-width: 600px) {
    section {
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(3, 1fr);
        grid-gap: 10px;
    }
    body {    background-color: gray;
}}

@media(min-width: 1024px){
    section {
        display:grid;
        grid-template-columns:none;
        grid-template-rows:repeat(1 1fr);
        grid-gap: 10px;
} */